<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- axios github -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Title</title>
</head>
<body>

    <!-- 식별 할 수 있도록 id 추가 -->
    <h1 id="text">Hello World</h1>

</body>

<!-- axios github - Performing a GET request-->
<script>
    <!-- 서버 호출 -->
    axios.get('/accounts/hello_world/')
      .then(function (response) {
        // handle success
        console.log(response);

        // 성공 했을 경우 어떤 javascript 작업을 할지
        <!-- 이 문서 중에 text 를 id로 갖는(h1) 값을 views.py의 Return text로 바꾸겠다 -->
        document.getElementById('text').innerHTML = response.data['message']; // Return text

      })
      .catch(function (error) {
        // handle error
        console.log(error);
      })
      .then(function () {
        // always executed
      });
</script>

</html>